* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, input, textarea, select, button {
  font: 400 16px 'Roboto Flex', sans-serif;
  color: #232323;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #FDFDFD;
}

.center {
  margin: 200px auto 0;
  width: 1200px;
}