menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* background: blue; */
}

menu ul {
  display: flex;  
}
menu ul li {
  list-style-type: none;
  margin-right: 42px;
  font: 600 .88rem 'Roboto Flex', sans-serif;
}
menu ul li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
}
menu ul li a:hover{
  border-bottom-color: #B9B9B9;
}
.container {
  /* background: red; */
  margin: 200px auto;
  width: 1200px;
}
