menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
menu ul {
  display: flex;  
}
menu ul li {
  list-style-type: none;
  margin-right: 42px;
  font: 600 .88rem 'Roboto Flex', sans-serif;
}
menu ul li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
}
menu ul li a:hover{
  border-bottom-color: #B9B9B9;
}


/*Home*/
.home h3 {
  border-style: solid;
  border-width: 2px;
  border-color: #7fd1ba;
  background: #88DAC3;
  padding: 10px;
  border-radius: 20px 20px 20px 0;
  width: 130px;
  text-align: center;
  color: #fdfdfd;
  font-size: 14px;
}
.home h1 {
  font-size: 45px;
  font-weight: 700;
  color: #292929;
  padding: 10px 0 0;
}
.home h2 {
  color: #292929;
  font-size: 18px;
}
.home .icons {
  margin-top: 9px;
  
}
.home .icons a {
  margin-right: 10px;
  display: inline-block;
  padding: 7px;
  transition: 0.2s;
}
.home .icons a:hover {
  color: #7fd1ba;
}
.home .imgUser {
  padding: 15px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
}
.home .imgUser img {
  border-radius: 50%;
  width: 300px;
  border: #d8d8d8 solid 15px;
}
.home .containerPai {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/*About*/
.about {
  margin: 200px auto 0;
}
.about .flex {
  display: flex;
  align-items: flex-end;

}
.about .imageAbout {
  flex: 1;
  text-align: center;
}
.about .imageAbout img {
  width: 310px;
  /* margin-left: 50px; */
  
}
.about .content {
  flex: 1;
  padding-bottom: 7px;
}
.about .content h1 {
  font-size: 45px;
  font-weight: 700;
  color: #292929;
  padding: 10px 0 0;
}
.about .content h4 {
  margin: 30px 0;
  font-weight: normal;
}
.about .content .language p {
  padding: 1px 5px;
  margin: 5px 2px;
  border-radius: 10%;
  border: 1px solid #BDF5EA;
  text-align: center;
  display: inline-block;
}

.about button {
  width: 200px;
  border: solid;
  border-radius: 12px;
  border-color: #76C0AD;
  color: #CEFEFA;
  margin-top: 20px;
  padding: 5px;
  background-color: #6CCDB7;
  transition: 0.3s;
}
.about button:hover {
  color: #6CCDB7;
  background-color: #CEFEFA;
  border-color: #CEFEFA;
}