menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
menu ul {
  display: flex;  
}
menu ul li {
  list-style-type: none;
  margin-right: 42px;
  font: 600 .88rem 'Roboto Flex', sans-serif;
}
menu ul li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
}
menu ul li a:hover{
  border-bottom-color: #B9B9B9;
}
.container {
  margin: 200px auto 0;
  width: 1200px;
}
.container h3 {
  border-style: solid;
  border-width: 2px;
  border-color: #7fd1ba;
  background: #88DAC3;
  padding: 10px;
  border-radius: 20px 20px 20px 0;
  width: 130px;
  text-align: center;
  color: #fdfdfd;
  font-size: 14px;
}
.container h1 {
  font-size: 45px;
  font-weight: 700;
  color: #292929;
  padding: 10px 0 0;
}
.container h2 {
  color: #292929;
  font-size: 18px;
}
.container .icons {
  margin-top: 9px;
  
}
.container .icons a {
  margin-right: 10px;
  display: inline-block;
  padding: 7px;
  transition: 0.2s;
}
.container .icons a:hover {
  color: #7fd1ba;
}